{% extends 'base.html' %}
{% block content %}

<h5>Preferred Currency</h5>
<hr/>
<div class="container mt-5">
  <form method="post" action="{{preferences}}" >
    <div class="input-group">
      <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Choose...</option>
        {% for currency  in currencies %}
        <option selected>{{currency.name}} -  {{currency.value}}</option>
        {% endfor %}

      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock  %}