{% extends 'base.html' %}


{%  block content  %}

<div class="container mt-5"></div>
    <div class ='row '>
        <div class ="col-md-10">
            <nav aria-label="breadcrumb " class="d-flex align-items-center ps-3 p-1 pt-3" style="background :  #E4E4E4 ;  border-radius :  3px ">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'expenses' %}">Expenses</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
              </ol>
            </nav>
        </div>

        <div class="col-md-2 align-items-center  ">
            <a href ="{% url 'add-expenses' %}" class =" ps-1 p-2 pt-3 btn btn-primary h-100"> add expenses</a>
        </div>
        <div class="mt-2">
{% include 'partials/_messages.html' %}
        </div>
</div>
    <div class="col-md-12" >
        {% if  Expenses.count %}
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount (Currency)</th>
                    <th>Category</th>
                    <th>Description </th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for expense in page_obj %}
                <tr>

                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.date}}</td>
                    <td>
                        <a href="{% url 'edit-expenses' expense.id  %}"
                            class  ="btn btn-outline-success btn-sm text-center"
                           style="border-radius :  9px ;  opacity :  0.9">Edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
<div class="d-flex justify-content-between">
        <div >
            showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </div>
     <div >
            <ul class="pagination align-right float-right mr-auto">
                  {% if page_obj.has_previous %}
                  <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                  <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                  {% endif %}

                  {% if page_obj.has_next %}
                  <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                  {% endif %}
            </ul>
        {% endif %}
        </div>
     </div>
</div>


{% endblock %}
